<div class="container">
  <div class="job-form-row">
    <mat-form-field appearance="standard">
      <mat-label>Job Description</mat-label>
      <input #descriptionInput matInput placeholder="I'm looking for..." />
      <mat-icon matSuffix>description</mat-icon>
      <mat-hint>Filter by title, benefits, companies, expertise</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Location</mat-label>
      <input #locationInput matInput placeholder="I'm looking for..." />
      <mat-icon matSuffix>location_city</mat-icon>
      <mat-hint>Filter by city, state, zip code or country</mat-hint>
    </mat-form-field>
  </div>

  <div class="container-card">
    <mat-card *ngFor="let job of jobs">
      <mat-card-header>
        <img
          mat-card-avatar
          src="{{ job.company_logo }}"
          alt="{{ job.company }}"
        />
        <mat-card-title>
          {{ job.title }} -
          <span class="job-company">
            {{ job.company }}
          </span>
        </mat-card-title>

        <mat-card-subtitle
          >{{ job.location }} - {{ job.type }} -
          {{ job.created_at | customDate }}</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content [innerHTML]="job.how_to_apply | markdown">
      </mat-card-content>

      <mat-card-actions>
        <button mat-button (click)="onExternalLinkClick(job.url)">
          View Details
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="button-and-alert">
      <app-alert></app-alert>
      <button [disabled]="disabled" mat-stroked-button (click)="showMoreJobs()">
        Show More Jobs
      </button>
    </div>
  </div>
</div>
