.container {
  display: flex;
  min-height: 81.5vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .job-form-row {
    max-width: 525px;
    width: 100%;

    // input normal, not focused
    .mat-form-field {
      padding: 5px;
      width: 100%;

      .mat-hint {
        font-size: 12px;
      }
    }

    // when input is focused apply different colors
    .mat-form-field.mat-focused {
      // for mat-underline
      .mat-form-field-ripple {
        background-color: #88c0d0;
      }

      // for focused label
      .mat-form-field-label {
        color: #88c0d0;
      }
    }
  }

  .mat-card {
    max-width: 500px;
    margin: 34px 0 0 0;

    .mat-card-content {
      overflow-wrap: break-word;
    }
  }

  .mat-stroked-button {
    width: 100%;
    margin: 34px 0 0 0;
  }

  @media screen and (max-width: 600px) {
    margin: 0 34px 0 34px;
  }

  .alert-danger {
    margin-top: 34px;
    width: 92%;
  }

  .hidden {
    display: none;
  }

  .visible {
  }
}
