//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.
$custom-typography: mat-typography-config(
  $font-family: 'Monaco,Consolas,Ubuntu Mono,monospace',
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$market-primary-dark: mat-palette($mat-orange);
$market-accent-dark: mat-palette($mat-yellow);
$market-warn-dark: mat-palette($mat-red);
$market-canvas-dark: mat-palette($mat-gray);

$market-theme-dark: mat-dark-theme(
  $market-primary-dark,
  $market-accent-dark,
  $market-warn-dark
);

@include angular-material-theme($market-theme-dark);
#canvas {
  border: 1px solid grey;
  background-color: #424242;
}

hr {
  border: 1px solid gray;
  opacity: 0.25;
  margin: 1vw 0 1vw;
}

//for light theme
$market-primary: mat-palette($mat-indigo, 500);
$market-accent: mat-palette($mat-light-green);
$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme($market-primary, $market-accent, $market-warn);

.light-theme-mode {
  @include angular-material-theme($market-theme);
  .mat-drawer {
    background-color: rgb(242 242 242);
  }

  #canvas {
    background-color: white;
    border: 1px solid black;
  }

  hr {
    border-color: #888888;
    opacity: 0.25;
    margin: 1vw 0 1vw;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
