<div class="container">
  <div *ngFor="let card of cards">
    <app-card
      [cardAvatarImageSrc]="card.cardAvatarImage.src"
      [cardAvatarImageClassName]="card.cardAvatarImage.className"
      [cardAvatarImageAlt]="card.cardAvatarImage.alt"
      [cardTitle]="card.cardTitle"
      [cardSubTitle]="card.cardSubTitle"
      [cardButtonRouterLink]="card.cardButtonRouterLink"
      [cardButtonExternalLink]="card.cardButtonExternalLink"
      [isExternalLink]="card.isExternalLink"
      [cardButtonText]="card.cardButtonText"
      [cardContent]="card.cardContent"
      [cardImageAlt]="card.cardImage.alt"
      [cardImageClassName]="card.cardImage.className"
      [cardImageSrc]="card.cardImage.src"
    >
    </app-card>
  </div>
</div>
