.navigation-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .nav-name {
    cursor: pointer;
    outline: none;

    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  @media screen and (max-width: 600px) {
    display: flex;
    justify-content: space-between;
  }
  span {
    @media screen and (max-width: 600px) {
      display: none;
    }
  }

  .loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 99;
  }
}
