<mat-sidenav-container
  class="sidenav-container mat-app-background"
  [ngClass]="{ 'light-theme-mode': isLightTheme }"
>
  <mat-sidenav-content>
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <mat-spinner style="top: 50%; left: 50%"></mat-spinner>
    </div>
    <mat-toolbar color="primary">
      <span>Marcián Szlovák</span>
      <span style="flex: auto"></span>
      <div class="nav-links">
        <button mat-button routerLink="">Home</button>
        <button mat-button>About</button>
        <button mat-button>Projects</button>
      </div>

      <mat-icon *ngIf="isLightTheme; else showLightIcon">wb_sunny</mat-icon>
      <ng-template #showLightIcon>
        <mat-icon>bedtime</mat-icon>
      </ng-template>
      <mat-slide-toggle
        [(ngModel)]="isLightTheme"
        labelPosition="before"
        (change)="storeThemeSelection()"
      >
      </mat-slide-toggle>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
