.container {
  display: flex;
  flex-direction: column;
  min-height: 81.47vh;
  justify-content: center;
  align-items: center;
}

.content-head {
  display: flex;
  font-family: 'Operator Mono Lig Book', serif;
  font-size: 5vh;
}

.content-text {
  display: flex;
  font-size: 2.5vh;
  margin: 2.5vh 0 2.5vh 0;
  font-family: 'Operator Mono Lig Book', serif;
}
