.container {
  display: flex;
  flex-direction: column;
  min-height: 81.47vh;
  justify-content: center;
  align-items: center;
}

.content-head {
  display: flex;
  font-size: 5vh;
}

.content-text {
  display: flex;
  text-align: justify;
  font-size: 2.5vh;
  margin: 2.5vh 0 2.5vh 0;

  @media screen and (max-width: 600px) {
    margin: 2.5vh 10px 2.5vh 10px;
  }
}
