<div class="canvas-container">
  <div class="canvas-row">
    <canvas id="canvas" width="1200px" height="800px" #canvas></canvas>
    <span class="canvas-text">
      Use the WASD keys to move the player around and your mouse to aim and
      shoot.
    </span>

    <hr />
    <h1 class="canvas-header">Overview</h1>

    <span class="canvas-text">
      The BFG9000! Oh, yes. The big, uh, freakin' gun from the classic Doom
      games is a pretty misunderstood and complex weapon. It has a unique
      mechanic which not many people seem to understand. This visualiser should
      help you with understanding the mechanics behind the BFG9000 to optimise
      your demon kill count.
    </span>
  </div>
</div>
