.canvas-container {
  display: flex;
  justify-content: center;

  //font-size: calc(0.75em + 0.4vmin);

  .canvas-header {
    margin: 16px 0 16px;
    font-weight: 450;
  }

  .canvas-row {
    width: 1250px;
  }

  .canvas-text {
    margin-top: 0.75vw;
    line-height: 28px;
    text-align: left;
  }

  .img-bfg {
    width: 100%;
    margin: 1vh 0;
  }

  .img-bfg-stats {
    width: 50%;
  }

  #canvas {
    cursor: crosshair;
    margin-top: 2vw;
  }
}
